$bs-input-bg: #e9ecef;
$bs-input-border: #ced4da;

.slider-group {
  width: 80%;
  background-color: $bs-input-bg;
  border: 1px solid $bs-input-border;
  border-radius: 0.25em;

  & > .slider {
    width: 95%;
    margin: 0 0.5em;
  }

  & > .slider-label {
    width: 5.5em;
    background-color: $bs-input-bg;
    border: 1px solid #aeb3b8;
    border-radius: inherit;
    user-select: none;
  }
}

.select-lang {
  max-width: 300px;
}

.quote-container {
  background-color: $bs-input-bg;
  border: 1px solid $bs-input-border;
  border-radius: 1em;
  padding: 4em;
  margin: 2em 0;
  width: 100%;
}

.progress {
  width: 100%;
}

.progress-bar {
  width: 100%;
}
