.navbar-brand,
.navbar-brand:hover,
.navbar-option {
  color: white;
}

.navbar-option:hover {
  color: gray;
}

.navbar-option,
.navbar-option:hover {
  text-decoration: none;
}

.preview {
  margin: 0 1em;
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
  background-color: white;
}
